.sample-video {

  &__player {
    position: relative;
    border:solid 5px #000;
    width: 100%;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    &--cinema {
      padding-bottom: 9/21 * 100%;
    }

    &--widescreen {
      padding-bottom: 9/16 * 100%;
    }

    &--regular {
      padding-bottom: 3/4 * 100%;
    }

    &--square {
      padding-bottom: 100%;
    }

    &--portrait {
      padding-bottom: 4/3 * 100%;
    }

    &--tall {
      padding-bottom: 16/9 * 100%;
    }

    &--skyscraper {
      padding-bottom: 21/9 * 100%;
    }
  }

  &__play {
    border: none;
    background-color: transparent;
    margin: auto;
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 15%;
    max-width: 60px;
    max-height: 60px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../img/parts/sample-video/sample-video__play.svg');
  }

  &__ctrl {
    border-top: solid 5px #000;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0%;

  }

  &__ctrl-progress {
    position: absolute;
    width: 70%;
    height: 80%;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/parts/sample-video/sample-video__progress.svg');
  }

  &__ctrl-play {
    position: absolute;
    width: 10%;
    height: 80%;
    left: 0%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/parts/sample-video/sample-video__play.svg');
  }

  &__ctrl-sound {
    position: absolute;
    width: 10%;
    height: 80%;
    right: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/parts/sample-video/sample-video__sound.svg');
  }

  &__ctrl-expand {
    position: absolute;
    width: 10%;
    height: 80%;
    right: 0%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/parts/sample-video/sample-video__expand.svg');
  }

}