<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Wireframe</display-name>
  <info>Wireframe Module</info>
  <url>http://enonic.com/</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <config>

    <input name="showMenuInFooter" type="Checkbox">
      <label>Show menu in footer</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <occurrences minimum="0" maximum="1"/>
    </input>
      </config>
  <x-data mixin="menu-item"/>
</module>
