
.page-header,
.page-footer {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header {
  overflow: hidden;
  padding-top: 20px;
  margin-bottom: 20px;

  &__logo {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    @include font-size(26px);
    position: relative;
    float: left;
    z-index: 101;
    
  }

  button {
    float: right;
    position: relative;
    z-index: 101;
  }


}

main {
  margin-bottom: 50px;
}

.page-footer {
  background: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-some {
  margin-bottom: 30px;

  &__items {
    @include unstyled-list;
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin: 0 10px;
  }

  &__link {
    width: 50px;
    height: 50px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999em;
    outline: 0;

    &--facebook {
      background-image: url(data:image/svg+xml,%0A%3Csvg%20viewBox%3D%220%200%20179%20195%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m6.534%20124.59c-1.443-38.675-13.651-126.91%200-121.65%2013.651%205.261%20165.99-6.401%20170.47%200%204.477%206.401-6.265%2062.23-6.265%2094.83%200%2028.03%206.265%2087.06%206.265%2087.06%200%200-94.17%2015.537-103.96%207.768-9.785-7.768%200-68%200-68h20.85c0%200%203.316-21.1%200-26.824-3.316-5.729-14.542%205.967-17.975%200-1.73-3.01-7.916-24.495%200-36.32%206.084-9.09%2026.917-9.503%2025.319-9.503%200%200%2010.183-18.282%200-24.282-2.629-1.549-36.08.728-45.818%2015.447-13.744%2020.786-8.163%2054.654-8.163%2054.654%200%200-16.494-3.622-21.582%202.885-5.088%206.507-1.992%2015.179%202.51%2021.51%204.502%206.331%2024.836%202.112%2019.07%202.429-5.478.302%204.677%2067.782%200%2068-12.366.588-33.647%200-33.647%200%200%200-6.16-43.46-7.08-68%22%20fill%3D%22%23000%22/%3E%3C/g%3E%3C/svg%3E);
    }

    &--twitter {
      background-image: url(data:image/svg+xml,%0A%3Csvg%20viewBox%3D%220%200%20231%20178%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m52.09%20125.09c1.16%205.596-27.02%204.577-30.446%207.116-3.422%202.539%204.539%209.355%206.589%2010.585%205.266%203.159-44.22-.477-22.12%2011.491%2022.1%2011.968%2046.32%2029.867%2081.37%2020.969.675-.171%2050.14-8.653%2074.53-32.459%2027.08-26.433%2029.657-64.69%2036.872-76.09%202.905-4.588%2019.846-4.877%2029.741-15.503%208.893-9.549-14.826-14.05-13.903-16.697%204.052-11.639%206.193-21.873%206.193-22.09.021-6.303-33.29%2013.02-30.06%209.678%203.233-3.34-3.625-7.667-18.723-17.833-14.918-10.05-66.02.087-81.58%2036.49-3.14%207.345-61.706-31.928-74.24-28.335-12.53%203.593%2018.592%2041.661%2011.916%2046.63-6.05%204.505-20.274-9.29-15.433%203.393%204.84%2012.683%2021.18%2024.18%2020.502%2029.357-.994%207.586-15.907-.885-11.658%207.283%2010.485%2020.15%2028.857%2018.356%2030.446%2026.02m23.771%206.325c.95%204.768-41.544%202.764-40.32%206.403%201.85%205.5%206.447%208.124%204.361%208.959-8.952%203.582-28.01.868-17.654%205.361%209.306%204.04%2041.622%2019.902%2070.31%2012.32%2095.2-25.16%2083.68-76.43%2095.05-95.12%202.378-3.91-3.573-2.851%204.529-11.905%201.058-1.182%2025.598-6.691%2025.853-7.752%201.499-6.24-15.655-3.649-15.01-5.579%203.317-9.917%206.383-17.199%206.384-17.388.017-5.371-27.899%2010.5-28.29%207.767-1.179-8.26-2.059-9.918-14.42-18.581-12.214-8.56-56.38%206.591-69.12%2037.609-2.571%206.259-65.05-29.18-65.05-26.795%200%2039.452%2025.25%2036.07%2019.782%2040.3-4.956%203.839-15.883-1.032-16.722%202.319-3.284%2013.12%2020.467%2020.387%2019.911%2024.8-.814%206.464-13.634-1.472-10.155%205.487%208.585%2017.17%2029.26%2025.25%2030.563%2031.785m71.53-92.32c3.59%200%206.5-2.91%206.5-6.5%200-3.59-2.91-6.5-6.5-6.5-3.59%200-6.5%202.91-6.5%206.5%200%203.59%202.91%206.5%206.5%206.5%22%20fill%3D%22%23000%22/%3E%3C/g%3E%3C/svg%3E);
    }

    &--instagram {
      background-image: url(data:image/svg+xml,%0A%3Csvg%20viewBox%3D%220%200%20305%20306%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m5.339%20176.03c0-23.788-5.123-93.23-5.123-93.23-2.881-42.42%2029.22-78.39%2071.72-80.21%200%200%2033.753-1.894%2061.09-1.894%2023.336%200%2091.04%202.593%2091.04%202.593%2042.495%201.496%2078.34%2037.15%2079.38%2079.67%200%200%203.44%2039.27-2.431%2086.92-5.871%2047.652-2.605%2059.18-2.605%2059.18%201.439%2042.494-31.87%2076.941-74.4%2076.941%200%200-70.92%200-96.92%200-24.671%200-55.07%200-55.07%200-42.525%200-73.75-34.31-70.03-76.68%200%200%203.373-28.411%203.373-53.29m29.661-53.04c0-42.521%2034.403-79.27%2076.83-82.04%200%200%202.355-.206%203.451-.206%2023.576%200%2070.778%202.173%2070.778%202.173%2042.494%201.704%2066.48%2034.97%2071.53%2047.956%2014.631%2021.756%208.113%20105.19%208.113%20105.19-1.493%2042.492-37.12%2078.875-79.59%2081.15%200%200-43.25%202.718-63.724%202.718-4.2%200-10.654-.718-10.654-.718-42.38-3.433-76.74-40.693-76.74-83.21v-73.02m26-15.988c0-22.09%2017.906-40%2039.998-40h95c22.09%200%2039.998%2017.903%2039.998%2040v98c0%2022.09-17.906%2040-39.998%2040h-95c-22.09%200-39.998-17.903-39.998-40v-98m32%2049.5c0-28.995%2023.499-52.5%2052.51-52.5h7.981c29%200%2052.51%2023.499%2052.51%2052.5%200%2028.995-23.499%2052.5-52.51%2052.5h-7.981c-29%200-52.51-23.499-52.51-52.5m18%200c0-19.606%2015.884-35.5%2035.5-35.5h6c19.606%200%2035.5%2015.89%2035.5%2035.5%200%2019.606-15.884%2035.5-35.5%2035.5h-6c-19.606%200-35.5-15.89-35.5-35.5m87-59c0-5.799%204.7-10.5%2010.5-10.5%205.799%200%2010.5%204.7%2010.5%2010.5%200%205.799-4.7%2010.5-10.5%2010.5-5.799%200-10.5-4.7-10.5-10.5%22%20fill%3D%22%23000%22/%3E%3C/g%3E%3C/svg%3E);
    }

    &--linkedin {
      background-image: url(data:image/svg+xml,%0A%3Csvg%20viewBox%3D%220%200%20323%20325%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%2046.997c0-25.956%2021.04-46.997%2046.999-46.997h229c25.957%200%2046.999%2021.04%2046.999%2046.997v231.01c0%2025.956-21.04%2046.997-46.999%2046.997h-229c-25.957%200-46.999-21.04-46.999-46.997v-231.01m49%2082c3.216-12.968%2044%200%2044%200%200%200%205.492%20136.26%200%20143-5.492%206.737-35.574%2010.916-44%200-8.426-10.916-3.216-130.03%200-143m25-25c13.807%200%2025-10.969%2025-24.5%200-13.531-6.05-25.927-19.859-25.927-13.807%200-30.14%2012.396-30.14%2025.927%200%2013.531%2011.193%2024.5%2025%2024.5m55.24%2097.2c0-23.325-3.239-72.2-3.239-72.2%200%200%2040.93-4.493%2047-3.55%206.07.943-9.469%2044.27%209.677%2012.358%2019.15-31.914%2072.56-16.263%2081.35%2010.488%205.765%2017.555%2013.585%20122.73%209.901%20126.89-3.684%204.159-47.17%203.748-50.709-3.186-3.54-6.934%2012.856-110.13-19.17-110.13-35.807%200-31.05%2030.31-31.05%2036.13%200%2024.665%203.964%2069.64%200%2073.996-3.964%204.356-43.761%207.799-47%200-3.239-7.799%203.239-46.46%203.239-70.804%22%20fill%3D%22%23000%22/%3E%3C/g%3E%3C/svg%3E);
    }

  }

}

.footer-nav__list{
  @include unstyled-list;
  text-align: center;
  margin-bottom: 30px;
}

.footer-nav__item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}