.layout {
  @include clearfix;

  &__region {
    float: left;
    margin-bottom: 10px;
  }

  &__region-wrapper {
    @include clearfix;
    margin: 0 10px;
    padding: 10px;
    border: 1px dotted #ccc;
  }
}