.layout-1-col {

  &-centered {
    &__container {
      width: 100%;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
    }

    &__region {
      &-wrapper {
        @include clearfix;
        margin: 0 10px;
        padding: 10px;
        border: 1px dotted #ccc;
      }
    }


  }


}