.layout-2-col {
  &-80-20,
  &-75-25,
  &-70-30,
  &-60-40,
  &-50-50,
  &-40-60,
  &-30-70,
  &-25-75,
  &-20-80 {
    @include clearfix;

    &__container {
      width: 100%;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      @include clearfix;
    }

    &__region {
      float: left;

      &-wrapper {
        @include clearfix;
        margin: 0 10px;
        padding: 10px;
        border: 1px dotted #ccc;
      }

      &--1,
      &--2 {
        @include media('<medium') {
          width: 100%;
        }
      }
    }
  }

  @mixin layout-2-col($widths...) {

    $className: '';

    @each $width in $widths {
      $className: $className + '-' + $width;
    }

    &#{$className} {

      @for $i from 1 through length($widths) {
        $width: nth($widths, $i);
        &__region--#{$i} {
          @include media('>=medium') {
            width: $width + 0%;
          }
        }
      }
    }
  }

  @include layout-2-col(80,20);
  @include layout-2-col(75,25);
  @include layout-2-col(70,30);
  @include layout-2-col(60,40);
  @include layout-2-col(50,50);
  @include layout-2-col(40,60);
  @include layout-2-col(30,70);
  @include layout-2-col(25,75);
  @include layout-2-col(20,80);
}