%layout-region {
  float: left;
}

.layout-50-50 {
  &__region1,
  &__region2 {
    @extend %layout-region;
    width: 50%;

    @include breakpoint($screen-small) {
      width: 100%;
    }
  }
}

.layout-75-25 {
  &__region1,
  &__region2 {
    @extend %layout-region;
  }

  &__region1 {
    width: 75%;
    @include breakpoint($screen-small) {
      width: 100%;
    }
  }

  &__region2 {
    width: 25%;
    @include breakpoint($screen-small) {
      width: 100%;
    }
  }
}

.layout-25-75 {
  &__region1,
  &__region2 {
    @extend %layout-region;
  }

  &__region1 {
    width: 25%;
    @include breakpoint($screen-small) {
      width: 100%;
    }
  }

  &__region2 {
    width: 75%;
    @include breakpoint($screen-small) {
      width: 100%;
    }
  }
}