//#################################################
// Buttons
//#################################################


%btn {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 4px;
  background-color: $btn-bg-color;

  &:hover {
    background-color: lighten($btn-bg-color, 5%);
  }
}

button {
  @extend %btn;
}

.btn {
  @extend %btn;
}