//#################################################
// Typography
//#################################################

@font-face {
  font-family: 'CabinSketch';
  src: url('../fonts/CabinSketch-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin Sketch';
  src: url('../fonts/CabinSketch-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Cabin Sketch', sans-serif;
  color: $text-color;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}