.site-nav {

  &__list {
    @include unstyled-list;

    .site-nav-toggled & {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      left: 0;
      top: 0;
      background: #428bca;
      padding-top: 50px;
    }


  }

  &__item {
    display: none;

    .site-nav-toggled & {
      display: block;
      text-align: center;
      line-height: 2;
    }
  }

  &__link {
    @include font-size(20px);
    color: #fff;
    text-decoration: none;

    &--is-active {
      color: #000;
    }
  }
}